{% extends "blog/base.html" %}

{% block content %}
    {%for post in posts%}
    <div class="d-xl-flex align-items-xl-start">
    <img class="rounded-circle" src="{{ post.author.profile.image.url }}" style="height: 100px; width: 100px; margin-right: 15px;margin-top: 30px">
    <div class="post-preview">
        
        <a href="#">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.content }}</h3>
        </a>
        <p class="post-meta">Posted by <a class="mr-2" href="#">{{ post.author }}</a> on <small class="text-muted">{{ post.date_posted|date:"F d, Y (l)" }}</small></p>
    </div>
    </div>
    <hr>
    {%endfor%}
{% endblock content %}
